
/* Style SessionList */

.title-session{
    padding-left: 8%;
    padding-bottom: 5%;
    border-bottom: black solid 1px;
}

.from-filter-session-list{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.session-list{
    width: 20%;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 8px rgb(59, 59, 59);
}

.SessionList_Ul {
    margin: 0;
    padding: 0;
    max-height: 58vh;
    width: 100%;
    background-color: white;
    flex-direction: column-reverse;
    overflow-y: scroll;
    scrollbar-width: thin;
    border-top: black solid 1px;
    border-bottom: black solid 1px;
}


/* Session List radio button style */

.label-item{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.SessionList_Ul input{
    display: none;
}

.SessionList_Ul input + label{
    background-color: white;
}

.SessionList_Ul input + label:hover{
    background-color: #c4f3ff;
    box-shadow: 1px 1px 5px black;
}

.SessionList_Ul input:checked + label{
    background-color: #82e6ffd3;
    border-left: #3f42ff solid 5px ;
}

/* Style SessionDetail */

.TabSessionDetail{
    margin: 0;
    padding: 0;
    width: 50%;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 0px 0px 8px rgb(59, 59, 59);
}

.title-session-detail{
    padding-left: 5%;
    padding-bottom: 2%;
    border-bottom: black solid 1px;
}

.session-detail-item{
    margin: 20px;
}


/* Form */

.formEnriched{
    background-color: white;
    width: 25%;
    border-radius: 20px;
    box-shadow: 0px 0px 8px rgb(59, 59, 59);
}

.title-form-enriched{
    padding-left: 8%;
    padding-bottom: 5%;
    border-bottom: black solid 1px;
}

form{
    padding: 20px;
    display: flex;
    flex-direction: column;
}
