
/* Style SessionList */

.title-session{
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    background-color: white;
    border-radius: 8px;
}

.session-list{
    width: 20%;
    background-color: white;
    border-radius: 8px;
}

.SessionList_Ul {
    margin: 0;
    padding: 0;
    max-height: 80%;
    width: 100%;
    background-color: white;
    flex-direction: column-reverse;
    overflow-y: scroll;
    scrollbar-width: none;
}


/* Session List radio button style */

.label-item{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.SessionList_Ul input{
    display: none;
}

.SessionList_Ul input + label{
    background-color: white;
}

.SessionList_Ul input + label:hover{
    background-color: #c4f3ff;
}

.SessionList_Ul input:checked + label{
    background-color: #82e6ffd3;
    border-left: #3f42ff solid 5px ;
}

/* Style SessionDetail */

.TabSessionDetail{
    margin: 0;
    padding: 0;
    width: 50%;
    height: 100%;
    background-color: white;
    display: flex;
}


.title-session-detail{
    margin: 0;
    padding: 0;
    background-color: white;
}

.session-detail-item{
    margin: 20px;
}


/* Form */

.etatPhysique{
    background-color: white;
    width: 25%;
}

form{
    padding: 20px;
    display: flex;
    flex-direction: column;
}
