
.card{
    padding-bottom: 5px;
}

.card-item{
    padding-inline: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.sport-detail{
    margin-top: 0;
    padding-left: 10px;
}