/* style bouton radio menu */

.menu{
    display: flex;
    justify-content: flex-end;
}

.menu input{
    display: none;
}

.menu input + label{
    margin-right: 10px;
    padding: 4px;
    display: inline-block;
    background-color: white;
    border: 2px double white;
    border-radius: 5px;
    color: #1c52cf;
}

.menu input:checked + label{
    color: white;
    background-color: #1c52cf;
    border: 2px double #1c52cf;
}
