/* styles navbar */

.navLogo{
    display: flex;
    align-items: center;
}

.navTitle{
    padding-inline: 20px;
    text-decoration: none;
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
}
/* 
.navBar{
    padding: 30px;
    height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    object-fit: cover;
} */

.sapLogo{
    height: 50px;
}

.banniere{
    height: 60px;
}