.navLogo{
    display: flex;
    align-items: center;
}

.navTitle{
    padding-left: 10px;
    text-decoration: none;
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
}

.navBar{
    padding: 10px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sapLogo{
    width: 80px;
}