.title-session{
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    background-color: white;
}

.list-session{
    width: 20%;
    background-color: white;
}

ul{
    margin: 0;
    padding: 0;
    height: 90%;
    width: 100%;
}

.card{
    padding-bottom: 5px;
    padding: 10px;
    background-color: white;
}

.card-item{
    padding-inline: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-item2{
    padding-left: 10px;
    display: inline;
}