/* Tab bar */

.page-tab{
    width: auto;
}

.tab-bar{
    margin-inline: 20px;
    margin-block: 12px;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    background-color: white;
    box-shadow: 1px 1px 4px;
}

.tab-bar input{
    display: none;
}

.tab-bar label {
    color: #1c52cf;
    padding: 10px;
    margin-inline: 30px;
    border-bottom: 4px white solid;
    border-radius: 5%;
}

.tab-bar input:checked + label{
    color: #1c52cf;
    padding: 10px;
    margin-inline: 30px;
    border-bottom: 4px #1c52cf solid;
    border-radius: 5%;
}

/* tab analyse */

.AnalyseAxe1{
    height: 82vh;
    padding: 20px;
}

.AnalyseAxe2{
    height: 82vh;
    padding: 20px;
}

.AnalyseAxe3{
    height: 82vh;
    padding: 20px;
}


@media screen and (max-width: 1400px) {
    .tab-bar{
        margin-inline: 10px;
        display: flex;
        flex-direction: column;
        border-radius: 20px;
        background-color: white;
        box-shadow: 1px 1px 4px;
    }

    .tab-bar label {
        text-align: center;
        padding: 2px;
        margin-inline: 20%;
        border-bottom: 2px white solid;
        border-radius: 20px;
    }
    
    .tab-bar input:checked + label{
        text-align: center;
        padding: 2px;
        margin-inline: 20%;
        border-bottom: 2px #1c52cf solid;
        border-radius: 0px;
    }
}