.tab-bar{
    display: flex;
    justify-content: center;
}

.tab-bar input{
    display: none;
}

.tab-bar label {
    color: #1c52cf;
    margin-inline: 30px;
    padding-bottom: 10px;
    border-bottom: 4px white solid;
    border-radius: 5%;
}

.tab-bar input:checked + label{
    color: #1c52cf;
    margin-inline: 30px;
    padding-bottom: 10px;
    border-bottom: 4px #1c52cf solid;
    border-radius: 5%;
}

.Entrainements{
    height: 80vh;
    padding: 20px;
    background-color: #f5f5f5;
    display: flex;
    justify-content: space-between;
}

.Analyse{
    height: 80vh;
    padding: 20px;
    background-color: #f5f5f5;
}

.Chat-GPT{
    height: 80vh;
    padding: 20px;
    background-color: #f5f5f5;
}

/* Style SessionList */

.title-session{
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    background-color: white;
}

.session-list{
    width: 20%;
    background-color: white;
}

.SessionList_Ul {
    margin: 0;
    padding: 0;
    height: 80%;
    width: 100%;
    background-color: white;
    flex-direction: column-reverse;
    overflow-y: scroll;
    scrollbar-width: none;
}

.SessionList_Ul input{
    display: none;
}

.SessionList_Ul label{
    background-color: aqua;
}

.SessionDetail_Ul input:checked + label{
    background-color: aqua;
}

.bg-disabled{
    background-color: black;
}

.card{
    padding-bottom: 5px;
    padding: 10px;
}

.card-item{
    padding-inline: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-item2{
    padding-left: 10px;
    display: inline;
}

/* Style SessionDetail */

.entrainement{
    width: 50%;
    background-color: white;
}

.session-detail{
    display: flex;
    flex-direction: column;
    margin: 40px;
}

.SessionDetail_Ul{
    margin: 0;
    padding: 0;
    height: 90%;
    background-color: white;
    display: flex;
}