/* Tab bar */

.page-tab{
    width: auto;
}

.tab-bar{
    margin: 10px;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    background-color: white;
    box-shadow: 1px 1px 4px;
}

.tab-bar input{
    display: none;
}

.tab-bar label {
    color: #1c52cf;
    padding: 10px;
    margin-inline: 30px;
    border-bottom: 4px white solid;
    border-radius: 5%;
}

.tab-bar input:checked + label{
    color: #1c52cf;
    padding: 10px;
    margin-inline: 30px;
    border-bottom: 4px #1c52cf solid;
    border-radius: 5%;
}

/* tab entrainements */

.Entrainements{
    height: 80vh;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

/* tab analyse */

.Analyse{
    height: 80vh;
    padding: 20px;
}
